[*.cs]

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.IDE0058.severity = none

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
